.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.income-exp {
    display: flex;
    justify-content: space-between;
}

#incomeBtn,
#expenseBtn {
    width: 100px;
    border: none;
    box-shadow: 0 1px 3px rgb(92, 91, 91);
    padding: 0.5rem;
    font-size: large;
    border-radius: 1rem;
}

#incomeBtn {
    background-color: rgb(133, 250, 133);
}

#expenseBtn {
    background-color: rgb(240, 132, 132);
}

#incomeBtn:hover {
    background-color: rgb(67, 204, 67);
}

#expenseBtn:hover {
    background-color: rgb(175, 50, 50);
}

.active {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    font-weight: bold;
}

.cattype {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    overflow: scroll;
    width: 380px;
    height: 330px;
}

.income {
    flex: 1;
}

.income>ol {
    font-weight: 400;
    list-style: none;
    margin-top: 1rem;
}

ol li {
    font-size: 0.95rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    background-color: #eaf2ff;
    border-radius: 5px;
}

.expense {
    flex: 1;
}

.expense>ol {
    font-weight: 400;
    list-style: none;
    margin-top: 1rem;
}

#accountList {
    overflow: scroll;
    width: 380px;
    height: 225px;
}

.categoryform {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 260px;
    z-index: 200;
    background-color: #eaf2ff;
    box-shadow: 0 4px 8px rgba(26, 13, 13, 0.1);
    border-radius: 8px;
    padding: 1rem;
}

.rdobtn {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.inputcat {
    margin-top: 1rem;
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.editTable {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 440px;
    z-index: 200;
    background-color: #eaf2ff;
    box-shadow: 0 4px 8px rgba(26, 13, 13, 0.1);
    border-radius: 8px;
    padding: 1rem;

}

.overview {
    padding: 1rem;
    display: flex;
}


.overview h3 {
    text-align: center;
}

.overview p {
    text-align: center;
    background-color: #4a90e2;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.incomeOverview {
    flex: 1;
}

.expenseOverview {
    flex: 1;
}

#myChart,#myChartExp {
    width: 100px;
    height: 100px;
}